@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/Roboto-Medium.ttf') format("ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/Roboto-Regular.ttf') format("ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/Roboto-Bold.ttf') format("ttf");
}

body {
  /* css variables */

  /* background colors */
  --color_background: #F6F8F9;
  --color_accent: #4169E1;
  --color_block: rgb(255, 255, 255);
  --color_border: #d2d2dc;
  --color_button: rgb(243, 67, 41);

  /* text colors */
  --color_text_fade: rgb(112, 120, 128);
  --color_text_main: #454748;
  --color_text_button: rgb(255, 255, 255);
  --color_text_link: rgb(0, 123, 255);

  /* text props */
  --text_font: 'Roboto', sans-serif;

  margin: 0;
  background-color: var(--color_background);
  color: var(--color_text_main);
}
