body {
  /* css variables */
  --color_background: rgb(235, 235, 235);
  --color_accent: rgb(58, 72, 123);
  --color_block: rgb(255, 255, 255);

  margin: 0;
  background-color: var(--color_background);
}
