.current-user {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.current-user__wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
}

.current-user__wrapper:hover {
  cursor: pointer;
}

.current-user__wrapper:hover > .current-user__name {
  opacity: .8;
}

.current-user__name {
  margin: 0;
  padding: 0;
  color: var(--color_text_button);
  font-family: var(--text_font);
  font-size: 18px;
  font-weight: 500;
}

.current-user__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  width: 18px;
  height: 18px;
}

.current-user__button:hover {
  cursor: pointer;
}

.current-user__button-icon {
  color: var(--color_text_button);
  width: 18px;
  height: 18px;
}