.header {
  margin: 0;
  padding: 12.5px 0;
  background-color: var(--color_accent);
  width: 100%;
  position: sticky;
  top: 0;
}

.header__content-wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1140px;
  display: flex;
  align-items: canter;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
  .header__content-wrapper {
    padding: 0 15px;
  }
}

.header__menu-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 85%;
}

.header__buttons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 5px;
  text-decoration: none;
}

.header__button {
  margin: 0;
  padding: 0 15px;
  height: 40px;
  background-color: transparent;
  border: 0;
  color: var(--color_text_button);
  font-size: 16px;
  border-radius: 3px;
  font-weight: 500;
}

.header__button:hover {
  cursor: pointer;
}

.header__button_type_login {
  background-color: transparent;
}

.header__button_type_login:hover {
  background-color: var(--color_button_main_hover);
}

.header__button_type_register {
  background-color: var(--color_button_signup);
}

.header__button_type_register:hover {
  background-color: var(--color_button_signup_hover);
}

.header__button-icon {
  margin: 0 5px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
  vertical-align: text-top;
}