.navigation {
  margin: 0;
  padding: 22px 0;
  width: 100%;
  background-color: var(--color_block);
  position: sticky;
  top: 0;
}

.navigation__links-list {
  margin: 0 auto;
  padding: 0;
  max-width: 1140px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}