.search-form {
  margin: 0;
  padding: 40px 40px;
  grid-area: "form";
  background-color: var(--color_block);
  box-shadow: 0px 6px 30px var(--color_border);
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-form__fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border: 0;
}

.search-form__title {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--color_text_main);
  font-size: 20px;
}

.search-form__button {
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 40%;
  height: 50px;
  color: var(--color_text_button);
  font-family: var(--text_font);
  font-size: 18px;
  border-radius: 3px;
  background-color: var(--color_accent);
}

.search-form__button:hover {
  cursor: pointer;
  background-color: var(--color_button_main_hover);
}

.search-form__button:disabled {
  cursor: auto;
}

.search-form__button-icon {
  margin-right: 5px;
  color: var(--color_text_button);
  width: 18px;
  height: 18px;
  vertical-align: text-top;
}

.search-form__loading-wrapper {
  width: 18px;
  height: 18px;
  margin: 0 auto;
}